* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {

    font-family: "Poppins", sans-serif;
    font-size: 16px;
}

.container {


    width: 100%;
    height: 100%;

    overflow: hidden;

}

.navbar {

    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 74px 0 74px;
    padding: 0 24px;




}

.navbar__s1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;



}

.navbar__s1 img {
    width: 40px;
    aspect-ratio: 1;
}

.navbar__s2 {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-weight: 600;


}

.navbar__s2 li {
    list-style: none;
    padding: 10px 16px;
}

.navbar__s2 li:hover {
    background-color: #F2F2F2;
    border-radius: 50px;
}

.navbar__s3 {

    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;


}

.navbar__s3__boxs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;


}

.navbar__s3__box1 {

    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 50px;
    padding: 10px 16px;


}

.navbar__s3__box1:hover {
    border-radius: 50px;
    background-color: #F2F2F2;
}

.navbar__s3__box1 img {
    width: 16px;
    aspect-ratio: 1;



}

.navbar__s3__box1__img {
    border-right: 0.5px solid #E0E0E0;
    padding: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar__s3__box1 p {

    border-left: 0.5px solid #E0E0E0;
    padding: 0 10px;
    display: block;
    text-align: center;



}

.navbar__s3__box2 {
    height: 100%;
}

.navbar__s3__signin-btn {
    padding: 10px 16px;
    font-size: 16px;
    border-radius: 50px;
    border: 2px solid black;
    background-color: black;
    color: #fff;
    font-weight: 600;

}


/* section-2 */
.section-2 {
    margin: 48px 74px 0 74px;
    padding: 0 24px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-2 .section-2__title {
    font-size: 1.7rem;
}

.section-2__btn-group {
    display: flex;

    margin-top: 30px;
    gap: 10px;

}

.section-2__btn-group .btn {
    padding: 10px 16px;

}


.section-2__btn-group .btn button {
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;


    font-weight: 600;
    font-size: 1.2rem;
    padding-bottom: 10px;
    border-bottom: 2px solid transparent;
}

.section-2__btn-group .btn:hover button {
    border-bottom: 2px solid;

}


.section-2__btn-group .btn button img {
    width: 16px;
    aspect-ratio: 1;
}

.section-2__search-input {
    width: 100%;
    height: 60px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0;


}

.section-2__search-input input {
    width: 100%;
    max-width: 800px;
    height: 100%;
    padding: 0 10px;
    border-radius: 50px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    /* box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px; */
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;


}

.section-2__search-input input:focus {
    outline: none;
}

/* section-3 */
.section-3 {

    margin-top: 50px;
    margin: 40px 74px 0 74px;
    padding: 0 24px;
}

.section-3 img {
    width: 100%;
    height: 100%;
    max-height: 500px;
    border-radius: 15px;


}

/* section-4 */
.section-4 {
    margin: 40px 74px 0 74px;
    padding: 0 24px;

}

.section-4__image-group {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-4__image-group .section-4__image-group__image {
    /* padding: 20px; */
    flex-basis: 22%;
    flex-grow: 1;
    height: 250px;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.section-4__image-group .section-4__image-group__image img {
    width: 100%;
    height: 100%;
}

.about-image {
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: #fff;
    font-weight: 800;
    font-size: 1.5rem;
    display: inline-block;
}

/* section-5 */
.section-5 {
    margin: 40px 74px 0 74px;
    padding: 0 24px;

}

.section-5__image-group {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-5__image-group .section-5__image-group__image {
    /* padding: 20px; */
    flex-basis: 22%;
    flex-grow: 1;

    overflow: hidden;
    border-radius: 10px;
    position: relative;
}

.section-5__image-group .section-5__image-group__image img {
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

.details {
    font-weight: 500;
}

/* section-8 */

.section-8 {
    margin: 40px 98px 0 98px;
    padding: 0 24px;
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    background-color: #FAF1ED;
    padding: 20px 25px;
    border-radius: 10px;
}

.section-8__image {
    /* width: fit-content; */
    width: 300px;
    height: 150px;

    display: flex;
    justify-content: center;
    align-items: center;


    overflow: hidden;
    transform: rotate(-10deg);

}

.section-8__image img {

    width: 150px;
    height: 150px;
    border-radius: 10px;
}

.section-8__box {
    width: 100%;
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;

}

.section-8__btn {
    width: 20%;
    height: 100%;
    line-height: 100%;




}

.section-8__btn button {
    border: 2px solid;
    padding: 10px 16px;
    background-color: #FFFFFF;
    border-radius: 30px;

    font-weight: 600;
    margin-top: 120px;



}

.section-8__btn button:hover {
    background-color: black;
    color: #fff;
}

/* section-9 */
.section-9 {

  
    margin: 30px 0px;
    background-color: #FAF1ED;
    border-radius: 10px;
}

.section-9__s1 {
    margin: 98px;
    padding: 30px 0;
    vertical-align: top;
}

.section-9__images {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 10px;
    

}
.section-9__images__img {
    height: fit-content;
   flex-basis: 24%;
   
   flex-grow: 1;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
justify-content: center;
   

}
.section-9__images__img img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
}
.section-9__details{
    font-weight: 600;
    margin-top: 10px;
}

/* section-10 */

.section-10{
    padding: 0 24px;
    margin: 0 74px;
 
}
.section-10__title{
    text-transform: capitalize;

}
.section-10__para{
    margin-top: 10px;
}
.section-10__images{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    flex-wrap: wrap;
}
.section-10__images__img{
    flex-basis: 24%;
    flex-grow: 1;
    position: relative;

}
.section-10__images__img img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
}

/* section-11  */
.section-11{
    /* padding: 0 24px; */
    margin: 30px 98px 0;
    background-color: #F2ECF9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section-11__s1{
    overflow: hidden;
    width: 100%;
    padding: 24px;
}
.section-11__s2{
    width: 100%;
    text-align: center;
}
.section-11 .section-11__s1 img{
    width: 100%;
    height: 100%;
}
.section-11__s2__title{
    margin-top: 10px;
}
.section-11__s2__sponser span{
    text-decoration: underline;
    color: #F1EBF8;
}
.section-11__s2__sponser {
    
    color: #333333;
}
.section-11__s2__para {
    
    color: #333333;
}
.section-11__s2__sponser img{
    background-color: #fff;
    width: 15px;
    height: 15px;
}
.section-11__s2__btn button{
    padding: 10px 16px;
    background-color: black;
    color: #fff;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    margin-top: 10px;
    cursor: pointer;
}

/* section-12  */
.section-12{
    margin: 30px 74px 0;
    padding: 0 24px;

}
.section-12__s1{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.section-12__s1__box-1{
    flex-basis: 20%;
    flex-grow: 1;
    max-width: 250px;
}
.section-12__s1__box-1 p{
   font-weight: 600;
   font-size: 1.2rem;
}
.section-12__s1__box-2{
   flex-basis: 10%;
   flex-grow: 1;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.section-12__s1__box-2__box{
    flex-basis: 20%;
    flex-grow: 1;
    
}
.section-12__s1__box-2__box img{
    width: 100%;
    height: 250px;
    border-radius: 10px;
}
.section-12__s1__box-2__box__place{
    font-weight: 600;
}
.vacancy{
    font-weight: 500;
    font-size: 0.8rem;
}

/* footer section-13 */

.section-13{
    padding: 20px 98px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    background-color: #FAF1ED;
    
}
.section-13__box-1{
    display: flex;

}
.section-13__s1{
    width: 100%;
}
.section-13__s1{
    display: flex;
   
    justify-content: space-between;
    /* padding: 20px 0; */
    font-size: 0.8rem;
}
.section-13__ul{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.section-13__s2{
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    /* padding: 20px 0; */
}
.footer__header{
    font-size: 1rem;
}
.section-13__box-1 li ,.section-13__box-2 li ,.section-13__box-3 li{
    list-style: none;
}
.section-13__s2 li{
    list-style: none;

}


/* box-2 */
.section-13__box-2{
    margin-top: 20px;
    display: flex;
    gap: 10px;
   
  
}
.section-13__box-2__s1{
    width: 100%;
   
    /* background-color: red; */
}
.section-13__box-2__s2{
    width: 60%;
    /* background-color: aqua; */
}
.section-13__box-2__s1_box-1__s1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-13__box-2__s1_box-1__s1 img{
    width: 40px;
    aspect-ratio: 1;
}
.section-13__box-2__s1_box-1{
    display: flex;
    gap: 20px;
}
.section-13__box-2__s1_box-1__s2{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.section-13__box-2__s1_box-1__s2_box-1{
    font-size: 12px;
}
.section-13__box-2__s1_box-1__s2_box-2 ul{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.section-13__box-2__s1_box-1__s2_box-2 ul li{
   text-transform: capitalize;
   text-decoration: underline;
   font-weight: 600;
}

.section-13__box-2__s2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.section-13__box-2__s2__box{
    display: flex;
    gap: 20px;
    justify-content: center;
    
   
}
.option-1{
    width: 100%;
   
}
.option-1 select{
    width: 100%;
    padding: 10px 16px;
    border-radius: 10px;
    border: 2px solid #EAEAEA;
    font-weight: 600;
}




.section-13__box-2__s1_box-1 p{
    margin-top: 5px;
    font-size: 12px;
}
.section-13__box-2__s2__box-2{
    display: flex;
    justify-content: end;
    gap: 20px;
}
.section-13__box-2__s2__box-2 img{
    width: 25px;
    aspect-ratio: 1;

}





@media screen and (max-width:1024px) {
    .navbar__s2 {
        display: none;
    }


}

@media screen and (max-width:1000px) {
    .navbar__s3__box1 {
        display: none;
    }


}

@media screen and (max-width:1250px) {
    .navbar,.section-2,.section-3,.section-4,.section-5,
    .section-6,.section-7,.section-7,.section-8,.section-9,.section-10,.section-11,.section-12,.section-13 {
       margin-left: 0;
       margin-right: 0;
    }



}
@media screen and (max-width:765px) {
    
   



}